*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#ccc;
}
.menu{
    background-color: indigo;
}
.menu ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    list-style-type: none;
    padding: 15px 25px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    transition:all .4s linear;

}
.menu ul li a:hover{
    background-color:red;
}
h1{
    text-align: center;
    margin: 30px 0;
}
.drop{
    position: relative;
}
.drop::after{
    content: "";
    border: 8px solid #ccc;
    position: absolute;
    right: 5%;
    top: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}